body{
    background-color:lavender;
    text-align: center;
    }
    h1{
    font-style: italic;
    size: 40px;
    color: #f08080;
    }
    p{
    font-size: 30px;
    color: blue;
    }
    
    .blue{
    color: blue;
    }
    .red{
    color: red;
    }
    .green{
    color: green;
    }